// Specific CSS for your home-page
//changes stuff on the index page (homepage)

h1{
color:pink;
font-family: 'Satisfy', cursive;
font-size: 70px;
text-align: center;
}

h3{
  color:pink
}

p {
  color:pink;

}

a{
  color:orange;
}

li {
  color:papayawhip;
  font-size:strong;
}

.link-btn{
  text-align:center
}
.btn{
  width:280px;
  color:pink;
}


.container {
  max-width: 100%;
  background-color: #ffbeaa;
}

/* .banner {
 background-size: cover;
    background-position: center;
    padding: 150px 0;


} */

#create-button {
  color: pink;

}

.navbar{
  background-color:white;
}

.card{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    padding: 16px 16px 16px 16px;
    background-size: cover;
    background-position: center;
}

#show-page-ul{
  padding-top:20px

}


img {
  border-radius: 20px;
}

