.home-layout {
    height: calc(100vh - 70px);
    background-image: url(https://cdn.dribbble.com/users/2340887/screenshots/5565883/tropical_sunrise_4x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
