.home-layout {
    /* height: calc(100vh - 70px); */
    background-image: url(https://cdn.dribbble.com/users/2340887/screenshots/5565883/tropical_sunrise_4x.png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:100vh;
}


/*changing search box size epending on screene*/

@media only screen and (min-width: 1200px) {
 .flex-box-search {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 10px 5px;
    width: 80%;
    background-color: white;
    box-shadow: 0 15px 0 rgba(0,0,0,0.1);
 /*    position: relative; */
    top: 221px;
    width: 353px;
  }
}

@media only screen and (min-width: 992px) {
  .flex-box-search {
    width: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .flex-box-search {
    width: 200px;
  }
}


@media only screen and (min-width: 576pxpx) {
  .flex-box-search {
    width: 150px;
  }
}


.form-control{
  font-family: 'Satisfy', cursive;
  letter-spacing: 2px;
}
.button-submit {
  border-radius: 1px;
  color: orange;
  background-color: #4d2851;
  width: 100px;
}

.home-title {
  color:white;
}

h1 {
  color:black;
}

.flex-test {
  display:flex;
  justify-content:center;
}


.estrellas {
  position: relative;
  width: 520px;
  height:300px;
  margin: 0 auto;
  font-size: 70px;
}
.estrellas span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 250px;
  margin-left: -35px;
  line-height: 530px; /* height*2 - font-size */
  text-align: center;
  transform-origin: top center;
}
.estrellas span:nth-of-type(9)  {
  transform: rotate(85deg);
}
.estrellas span:nth-of-type(8)  {
  transform: rotate(60deg);
}
.estrellas span:nth-of-type(7)  {
  transform: rotate(40deg);
}
.estrellas span:nth-of-type(6)  {
  transform: rotate(20deg);
}
.estrellas span:nth-of-type(5)  {
  transform: rotate(0deg);
}
.estrellas span:nth-of-type(4)  {
  transform: rotate(-20deg);
}
.estrellas span:nth-of-type(3)  {
  transform: rotate(-40deg);
}
.estrellas span:nth-of-type(2)  {
  transform: rotate(-60deg);
}
.estrellas span:nth-of-type(1)  {
  transform: rotate(-85deg);
}

/* Reverse mode */
.inverso {
  font-weight: bold;
  font-family: 'Satisfy', cursive;
}
.inverso span {
  line-height: 70px;
  transform-origin: bottom center;
  /* border: 1px solid red; Only for seeing trick */
}


/*hiding cocktails arch when screen smaller than 768 pixels  */

@media screen and (max-width: 768px) {
   .estrellas {
    display: none;
  }
}

/*hiding h1 title "in the sun" screen smaller than 768 pixels  */
@media screen and (max-width: 768px) {
   .home-title {
    display: none;
  }
}

/*this shows the h1  class title2  "search for a cocktail" when screen is smaller than 768 pixels  */
@media screen and (min-width: 768px) {
  .home-title2 {
    display: none;
    font-size: 40px;
    padding: 200px;
    text-align: center;
  }
}

