
<body>
<div class="navbar d-flex">
  <div class="logo">

  </div>
  <div class=" ">
    <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'Create a cocktail', new_cocktail_path %>
    </button>
  </div>
</div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1452784444945-3f422708fe5e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);">
    <div class="">
      <h1>Best Rum Cocktails in Town</h1>
    </div>
  </div>

  <div class="container">
    <div class="cocktail-list row justify-content-between p-3">
      <% @cocktails.each do |cocktail| %>
        <div class="card m-3" style="width: 18rem;">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
            <p class="card-text">Description</p>
            <%= link_to 'Delete cocktail?' %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</body>
