<div class="new-dose">
  <div class="new-form-container-dose">
    <h1>Add a shot of something</h1>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <div class="dose-label"><%= f.association :ingredient, label: 'Pick a shot fo yo cocktail',collection:Ingredient.all %></div>
      <div class="dose-label"><%= f.input :description, label: 'Add a shot of someting' %>
      <%= f.submit "Add shot", class: "btn btn-primary" %></div>
    <% end %>
  </div>
</div>
