.index-button {
    font-family: 'Open Sans', 'Helvetica', 'sans-serif';
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0 10px 0 rgba(0,0,0,0.1);
    position: relative;
    background-color:orange;
    color:white;
    border-radius: 50px;


}
